.close-button{
    position: fixed;
    right: 10px;
    cursor: pointer;
    padding: 2px 8px;
    border-radius: 3px;
    transition: 0.2s;
    z-index: 100;
}
.close-button:hover{
    background-color: rgba(255, 0, 0,0.5);
}
.modal-background{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,0.5);
    z-index: 1000;
}
.modal-prompt{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    z-index: 1;
    /* opacity: 0.3;
    transition: opacity 0.2s ease-in-out; */
}

/* .modal-prompt:hover{
    opacity: 1;
} */